# Arquivos
mvnw
mvnw.cmd
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
.exe
.iml
.rar
.classpath
.project
.sencha
.history/
hs_err_pid*

#Diretorios
/.mvnw/
node_modules/
gradle/
target/
.gradle/
.idea/
.vscode/
.settings/
build/
database/
.sencha/
ext/
extjs/
dist/
overrides/
packages/
